<div class="container">
    <div class="jumbotron">
        <h1>Eat-Da-Burger</h1>
        <p>Make the burger.</p>
        <p>Eat the burger</p>
        <h2>Make the Burger</h2>
        <panel>
            <form class="createBurger-Form">
                <div class="formGroup">
                    <label for="newBurger">Make your burger</label>
                    <input type="text" id="newBurger" name="burger">
                    <button type="submit" class="btn btn-success" id="addBurger">submit</button>
                </div>

            </form>
        </panel>
    </div>
</div>